openapi: 3.0.0
info:
  title: PAY2U OpenAPI спецификация
  description: Данная спецификация описывает методы доступные приложению PAY2U в рамках разрабатываемого MVP
  version: 0.0.1
servers:
  - url: http://pay2u.ru/widget/v4
    description: Development server
paths:
  /catalog:
    get: 
      summary: Метод получения списка всех сервисов
      tags:
        - Services
      operationId: getAllServices
      responses:
        '200':
          description: Успешный ответ со списком всех сервисов
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogList"
        'default':
          description: Все неуспешные ответы
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /catalog/{category}:
    get:
      summary: Метод получения списка сервисов одной категории с возможностью сортировки
      tags:
        - Services
      operationId: getServicesByCategory
      parameters:
        - name: category
          in: path
          required: true
          description: Категория сервиса
          schema:
            type: string
            example: Movies
        - name: sortField
          in: query
          required: false
          description: Поле для сортировки
          schema:
            type: string
            enum:
              - price
              - cashback
        - name: sortType
          in: query
          required: false
          description: Тип сортировки применительно к полю из sortField
          schema:
            type: number
            enum:
              - 1
              - -1
      responses: 
        '200':
          description: Успешный ответ со списком всех сервисов одной категории
          content:
            appliaction/json:
              schema:
                $ref: "#/components/schemas/CatalogList"
        'default':
          description: Все неуспешные ответы
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /catalog/{service_name}:
     get: 
      summary: Метод получения информации о сервисе
      tags:
        - Services
      operationId: getServiceById
      parameters:
        - name: service_name
          in: path
          required: true
          description: Название сервиса
          schema:
            type: string
          example: KION
      responses:
        '200':
          description: Успешный ответ с одним сервисом
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogList"
        'default':
          description: Все неуспешные ответы
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /catalog/{service_name}/{sub_id}:
    get:
      summary: Метод получения подписки на сервис
      tags:
        - Subscriptions
      operationId: getServiceSubscription
      parameters:
        - name: service_name
          in: path
          required: true
          description: Название сервиса
          schema:
            type: string
          example: KION
        - name: sub_id
          in: path
          required: true
          description: Название сервиса
          schema:
            type: string
          example: 15
      responses:
        '200':
          description: Успешный ответ с одним сервисом
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogEntry"
        'default':
          description: Все неуспешные ответы
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /search:
    get:
      summary: Поиск сервиса по названию
      tags:
        - Services
      operationId: getServicesSearch
      parameters:
        - name: service_name
          in: query
          required: true
          description: Название сервиса
          schema:
            type: string
            example: KION  
      responses:
        '200':
          description: Успешный ответ с одним сервисом
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogList"
        'default':
          description: Все неуспешные ответы
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /subscription:
    get: 
      summary: Метод оформления подписки
      tags:
        - Subscriptions
      operationId: getSubscription
      responses:
        '200':
          description: Успешный ответ с информацией о новой подписке на сервис
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogList"
        'default':
          description: Все неуспешные ответы
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /profile/{user_id}:
     get: 
      summary: Метод получения информации о пользователе
      tags:
        - Profile
      operationId: getProfile
      parameters:
        - name: user_id
          in: path
          required: true
          description: Уникальный идентификационный номер пользователя 
          schema:
            type: number
          example: 123
      responses:
        '200':
          description: Успешный ответ профилем пользователя
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        'default':
          description: Все неуспешные ответы
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /my_subscriptions/{user_id}:
    get:
      summary: Метод получения списка подписок пользователя
      tags:
        - Profile
      operationId: getMySubscriptions
      parameters:
        - name: user_id
          in: path
          required: true
          description: Уникальный идентификационный номер пользователя 
          schema:
            type: number
          example: 123
      responses:
        '200':
          description: Успешный ответ со списком подписок пользователя
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/User_subs"
        'default':
          description: Все неуспешные ответы
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Service:
      type: object
      required:
        - service_name
        - category
        - logo
        - service_description
      properties:
        service_name:
          type: string
          example: KION
        category:
          type: string
          enum:
            - Movies
            - Music
            - Books
            - Education
            - Software
            - Other
          description: Категория сервиса 
        logo:
          type: string
          description: URL с размещением логотипа
          example: URL
        service_description:
          type: string
          description: Описание подписочного сервиса
          example: Онлайн-кинотеатр с большим выбором фильмамов, сериалов, ТВ каналов и мультфильмов
    Error:
      type: object
      required:
       - code
       - message
      properties:
        code:
          type: string
          example: 404
        message:
          type: string
          example: NOT FOUND
    Subscription:
      type: object
      required:
        - sub_id
        - service_name
        - sub_type
        - duration
        - price
        - cashback
      properties:
        sub_id:
          type: string
          example: 15
        sub_type:
          type: string
          enum:
           - Trial
           - Standard
           - Premium
          description: Тип подписки
        duration:
          type: string
          enum:
           - 1 month
           - 3 months
           - 6 months
           - 12 months
           - 24 months
        price: 
          type: number
          minimum: 0
          example: 300
        cashback:
          type: number
          minimum: 0
          example: 5
          description: Процент кешбэка
    CatalogEntry:
      allOf:
        - $ref: "#/components/schemas/Service"
        - $ref: "#/components/schemas/Subscription"
      type: object
    CatalogList:
      type: array
      items: 
        $ref: "#/components/schemas/CatalogEntry" 
    User:
      type: object
      required:
        - user_id
        - phone_number
      properties:
        user_id:
          type: number
          example: 121
        phone_number:
          type: number
          example: 7000000000
    User_subs:
      type: object
      required:
        - user_sub_id
        - sub_id
        - category
        - phone_number
        - user_sub_status
        - expiry_date
        - card_number
      properties:
        user_sub_id:
          type: number
          example: 101
        sub_id:
          type: number
          example: 15
        category:
          type: string
          enum:
            - Movies
            - Music
            - Books
            - Education
            - Software
            - Other
        phone_number:
          type: number
          example: 7000000000
        user_sub_status:
          type: string
          enum:
            - active
            - inactive
        expiry_date: 
          type: string
          format: 2022-07-01T15:00:00
          example: 2022-07-01T15:00:00
        card_number: 
          type: string
          example: 1000-2000-3000-4000